@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all -2s linear;
    line-height: 1.5;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: rgb(255, 255, 255);
    padding-left: 30rem;
}
section{
    padding: 1rem 10%;
    min-height: 100vh;
}

#menu-bars{
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    font-size: 4rem;
    cursor: pointer;
    display: none;
    transition: 1s;
    
    

}
#menu-bars.fa-times::after{
    color: black;
    
}
#menu-bars.fa-times::before{
    color: white;
}
header{
    position: fixed;
    top: 0; left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 35rem;
    text-align: center;

}
header .logo{
    text-transform: uppercase;
    color: white;
    font-size: 4rem;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: .1rem;
    
}
header .logo span{
    text-transform: uppercase;
    color: white;
    font-size: 4rem;
    font-weight: 100;
    border: 2px solid #fff;
    border-radius: 10px 10px;
    padding: 8px;
    cursor: pointer;
    letter-spacing: .1rem;
}
header .navbar a{
    display: block;
    font-size: 2rem;
    color: white;
    margin: 2rem 0;
    text-transform: uppercase;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    letter-spacing: .3rem;
    transition: 0.5s;
}

header .navbar a:hover{
    letter-spacing: 1rem;
}


header .follow a{
    font-size: 4rem;
    color: rgba(253, 253, 253, 0.678);
    margin: 1.5rem;
}
header .follow a:hover{
    color: whitesmoke;
   
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.home .image{
    flex: 1 1 40rem;
}
.home .image img{
    width: 40%;
    
     
}
.home .content{
    flex: 1 1 40rem;
}
.home .content h3{
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: .4rem;
}
.home .content .info{
    letter-spacing: .3rem;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.home .content .intro{
    letter-spacing: .1rem;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 30px;
    background: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.1s all;
    font-size: 16px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    
  }

 
  .btn:hover {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 30px;
    background: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    
  }
.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: black;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed',sans-serif;
    
}
.heading span{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: black;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed',sans-serif;
}

.about .row-1{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;  
}
.about .row-1 .image2 img{
    width: 20%;
    height: 100%;
    border: 1rem solid #000;
    border-radius: 0.5rem 1rem rgba(0,0,0,1);
}

.about .row-1 .content h3{
    color: black;
    font-size: 3.5rem;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 100;
}
.about .row-1 .content p{
    color: black;
    font-size: 1.5rem;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 100;
}
.box-container {
    margin: 3rem;
}
.box-container .box  p span{
    color: black;
    font-size: 1.5rem;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: bold;
}
.service .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}
.box-container .box  a p{
    color: black;
    font-size: 1.1rem;
}
.service .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    padding: 1.2rem;
    background-color: #fff;
    border-radius: 1.6rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
}
.service .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    background-color: black;
    border-radius: 100%;
    color: #fff;
    transition: 0.5s all;
    

}
.service .box-container .box i:hover{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 3.5rem;
    background-color: white;
    border-radius: 100%;
    color: #000;
    

}
.service .box-container .box a h3{
    color: black;
    font-size: 1.7rem;
    font-family: 'Open Sans Condensed',sans-serif;
    
}
/*-------------------Resposive for tabletsdevicex---------------*/
@media(max-width: 990px) {
    html{
        font-size: 55%;
    }
    body{
        padding: 0;
    }
    #menu-bars{
       display: initial;
    }
   
    
    header{
        left: -120%;
        transition: 0.4s ease-in-out;
    }
    header.active{
        left: 0%;
        
    }
    

    #menu-bars.fa-times::before{
    color: rgb(0, 0, 0);
}
.home .image img{
    width: 65%;
}

}
/*-------------------Resposive for tabletsdevicex---------------*/
@media(max-width: 450px){
     html{
          font-size: 50%;
     
     }
     header{
        width: 100%;
     }
     .home .image img{
        width: 90%;
        
        
}
#menu-bars.fa-times::before{
    color: rgb(255, 255, 255);
}

}